<diV class="preItems">
	<div class="box">
	<h2>Hardware</h2>
	</div>
	<div class="box">
	<h2>Gaming</h2>
	</div>
	<div class="box">
	<h2>PC & tablets</h2>
	</div>
	<div class="box">
	<h2>TV & Hifi</h2>
	</div>
	<div class="box">
	<h2>Foto & Video</h2>
	</div>
	<div class="box">
	<h2>Mobil</h2>
	</div>
	<div class="box">
	<h2>Bolig & fritid</h2>
	</div>
	<div class="box">
	<h2>Demovarer</h2>
	</div>
	<div class="box">
	<h2>Guides</h2>
	</div>
</div>