<aside id="itemList">
	<a href="#">Hardware</a>
	<a href="#">Gaming</a>
	<a href="#">PC & tablets</a>
	<a href="#">TV & Hifi</a>
	<a href="#">Foto & Video</a>
	<a href="#">Mobil</a>
	<a href="#">Bolig & fritid</a>
	<a href="#">Demovarer</a>
	<a href="#">Guides</a>
</aside>