*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #2b2b2b;
}

#navbar{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 1.2em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	color: #fff;
	background-color: #3b3b3b;
	box-shadow: 0px 4px 4px rgba(000,000,000,0.1);
	padding: 2em;
}

#navbar a{
	text-decoration: none;
	color: #fff;
	transition: .3s;
	border-bottom: 1px solid transparent;
	font-size: 1em;
}

#navbar a:hover{
	transform: scale(1.1);
	border-bottom: 1px solid rgb(255, 0, 0);
}

main{
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#itemList{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 200px;
	color: #fff;
	background-color: #3b3b3b;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
	font-family: 'Open Sans', sans-serif;
}

#itemList a{
	width: 100%;
	padding: 1.023em 1em;
	text-decoration: none;
	color: #fff;
	font-size: 1em;
	transition: .1s;
}

#itemList a:hover{
	background-color: rgba(34,34,34,0.5);
}

.preItems{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 1296px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
	margin: 8px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background-color: #3b3b3b;
	transition: .2s;
}

.box h2{
	font-size: 1.1em;
	font-weight: 400;
}

.box:hover{
	transform: scale(1.05);
	cursor: pointer;
	text-decoration: underline;
}

#footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 1.2em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	color: #fff;
	background-color: #3b3b3b;
	box-shadow: 0px -4px 4px rgba(000,000,000,0.1);
	padding: 2em;
	margin-top: 4px;
}

#footer a{
	text-decoration: none;
	color: #fff;
	transition: .3s;
	border-bottom: 1px solid transparent;
	font-size: 1em;
}

#footer a:hover{
	transform: scale(1.1);
	border-bottom: 2px solid rgb(255, 0, 0);
}